body {
  background-color: #012a4a !important ;
  color: white !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}
.in {
  margin: 10px !important;
  width: 300px !important;
}
.home {
  margin-top: 10%;
  margin-right: 45%;
}
.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.form {
  margin-left: 50%;
  position: absolute;
  top: 38%;
  right: 10%;
  box-shadow: 1px 1px 15px darkcyan;
}
span {
  color: red;
  font-weight: bold;
  font-size: 12pt;
  text-shadow: 2px 2px 15px black;
}

::-webkit-scrollbar {
  width: 0;
}

.optselect {
  color: black;
  font-weight: bold;
}
.room-cont {
  background-image: url("https://images-ext-1.discordapp.net/external/BUqzOfVJD1waKp4wgSyYpyYJ5PKwwpdw4NosUNyhtig/https/thumbs.dreamstime.com/b/seamless-mobile-apps-pattern-web-page-64452032.jpg?width=468&height=468");
  position: absolute;
  left: 28%;
  top: 2.25%;
  width: 67%;
  min-height: 95%;
  max-height: 95%;
  overflow-y: scroll;
  scroll-margin-bottom: 100px;
  box-shadow: 3px 3px 15px #eee;
}
.room-head {
  z-index: 1;
  color: darkcyan;
  text-shadow: 1px 1px white;
  background-color: #35365652;
  min-height: 50px;
  width: 67%;
  font-size: 24pt;
  position: fixed;
  text-align: center;
}
.footer {
  position: absolute;
  width: 68% !important;
  left: 27.5%;
  bottom: 3%;
}

.slider-cont {
  position: absolute;
  right: 15%;
  bottom: 18%;
}

form {
  max-width: 400px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

.body-send {
  margin-bottom: 59.59px;

  position: relative;
  margin-left: 5%;
  width: fit-content;
  overflow-y: scroll;
  margin-top: 2.5%;
  max-width: 300px;
  height: auto;
  word-wrap: break-word;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 60, 255, 0.849);
  border: 1px solid #ccc;
  background-color: hsla(180, 70%, 4%, 0.425);
  border: 1px solid #000000;
  padding: 12px 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.body-recive {
  position: relative;
  margin-top: 2.5%;
  margin-bottom: 59.59px;
  width: fit-content;
  overflow-y: scroll;

  max-width: 300px;
  height: auto;
  word-wrap: break-word;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 60, 255, 0.849);
  border: 1px solid #ccc;
  background-color: #0f57078e;
  border: 1px solid #000000;
  padding: 12px 16px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-left: 70%;
}

/* edeting */

.txtlink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: start;
}
.txtlink:hover {
  color: darkcyan;
}

.chats-cont {
  border-color: darkcyan;
  border-style: ridge;
  border-top: none;
  border-bottom: none;
  width: 20%;
  margin-left: 2%;
  margin-top: 0.25%;
}



.chats {
  margin-left: 2%;
  margin-top: 2%;
  max-height: 190px;
  overflow-y: scroll;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/**********************/

.auto-slider {
  position: relative;
  box-sizing: content-box;
  display: inline-block;
  padding: 10px 10px 20px;
  background: #fff;
  max-width: 720px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
  /* box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4); */
  height: 415px !important;
  box-shadow: 10px 10px 30px darkcyan;
}

div#slider {
  overflow: hidden;
}
div#slider figure img {
  width: 20%;
  float: left;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s sliding ease infinite;
}

/* Slider indicator */
.indicator {
  width: 100%;
  max-width: 720px;
  height: 6px;
  background: darkcyan;
  position: absolute;
  bottom: 0;

  animation: indicating 5s ease infinite;
}

@keyframes sliding {
  0% {
    left: 0%;
  }
  20% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  80% {
    left: -400%;
  }
  100% {
    left: 0%;
  }
}

@keyframes indicating {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}


/**********************/


.main-pic{
  position: absolute;
  left: 8%;
  bottom: 15%;
  width: 50%;
  max-height: 50%;
  border-radius: 20px;
  box-shadow: 1px 1px 15px darkcyan;

}



/**********************/

#blueBar {
  width: 100%;
  min-height: 32px;
  background-color: #222831;
  color: white;
  position: relative;
  font-weight: bold;
  font-size: 12pt;
}

.alter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: spin 5s linear infinite normal ;
  font-size: 12px;
}

.one {
  z-index: -1;
  animation-delay: 0s;
  font-size: 18px;
}

.two {
  animation-delay:1.25s;
  z-index:-1;
  font-size: 18px;
}

.three {
  animation-delay:2.5s;
  z-index:-1;
  font-size: 18px;
}

.four {
  animation-delay: 3.75s;
  z-index: -1;
  font-size: 18px;
}

@keyframes spin {
  0% {
      z-index:1;
  }

  33.33% {
      z-index:-1;
  }

  66.66% {
      z-index:-1;
  }
  100%{
      z-index:-1;
  }
}
.ft {
  background-color: #222831;
  height: 20% !important;
  /* display: flex; */
  flex-wrap: wrap;
  color: white;
  text-transform: uppercase;
  /* padding-left: 42%; */
  justify-content: center;
  font-weight: bold;
  letter-spacing: 2px;
  box-shadow: 5px 5px 10px darkcyan;
  /* width: 100%; */
  padding-top: 15px;

}



.nItem{
  font-size: 15pt !important;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
 font-weight:bold !important;
 color: white ;

}

.nItem:hover{
color: #0096c7;
}
.nItem:active{
  color: black;
  }

.nb{
  width: 100% !important;
}


/******/


.profile-cont {
  border-color: darkcyan;
  border-style: ridge;
  border-top: none;
  border-bottom: none;
  width: 20%;
  margin-left: 2%;
  margin-top: 2%;
  max-height: 250px;
  /* overflow-y: scroll; */
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 139, 139, 0.349);


}



.profile-cont2 {
  border-color: darkcyan;
  border-style: ridge;
  border-top: none;
  border-bottom: none;
  width: 20%;
  margin-left: 2%;
  margin-top: 2%;
  max-height: 250px;
  /* overflow-y: scroll; */
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 192, 203, 0.74)
}