body {
  background-color: #353656 !important ;
  /* background-image: url("https://wallpaperaccess.com/full/381735.jpg"); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  color: white !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}
.in {
  margin: 10px !important;
  width: 300px !important;
}
.home {
  margin-top: 10%;
  margin-right: 45%;
}
.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.form {
  margin-left: 50%;
}
span {
  color: red;
  font-weight: bold;
  font-size: 12pt;
  text-shadow: 2px 2px 15px black;
}

::-webkit-scrollbar {
  width: 0;
}

.optselect {
  color: black;
  font-weight: bold;
}
.room-cont {
  
  background-image: url("https://images-ext-1.discordapp.net/external/BUqzOfVJD1waKp4wgSyYpyYJ5PKwwpdw4NosUNyhtig/https/thumbs.dreamstime.com/b/seamless-mobile-apps-pattern-web-page-64452032.jpg?width=468&height=468");
  position: absolute;
  left: 28%;
  top: 2.25%;
  width: 67%;
  min-height: 95%;
  max-height: 95%;
  overflow-y: scroll;
  scroll-margin-bottom: 100px;
  box-shadow: 3px 3px 15px #eee;

  /* height: 100% !important; */
}
.room-head {
  z-index: 1;
  color: #353656;
  background-color: #35365652;
  min-height: 50px;
  /* text-align: center; */
  padding-left: 5%;
  width: 67%;
  font-size: 24pt;
  position: fixed;

}
.footer {
  position: fixed;
  width: 68% !important;
 margin-left:27.5%;
 margin-top: 0.65%;

}

form {
  max-width: 400px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

.body-recive {
  margin-bottom: 59.59px;

  position: relative;
  margin-left: 5%;
  width: fit-content;
  overflow-y: scroll;
  margin-top: 2.5%;
  max-width: 300px;
  height: auto;
  word-wrap: break-word;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 60, 255, 0.849);
  border: 1px solid #ccc;
  background-color: hsla(180, 70%, 4%, 0.425);
  border: 1px solid #000000;
  padding: 12px 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.body-send {
  position: relative;
  margin-top: 2.5%;
  margin-bottom: 59.59px;
  width: fit-content;
  overflow-y: scroll;

  max-width: 300px;
  height: auto;
  word-wrap: break-word;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 60, 255, 0.849);
  border: 1px solid #ccc;
  background-color: #0f57078e;
  border: 1px solid #000000;
  padding: 12px 16px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-left: 70%;
}

/* edeting */

.txtlink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: start;
}

.chats-cont {
  /* border: double 3px cyan; */

  border-color: #003566;
  border-style: ridge;
  border-top: none;
  border-bottom: none;
  width: 20%;
  margin-left: 2%;
  margin-top: 0.25%;
}

.profile-cont {
  /* border: double 3px cyan; */

  border-color: #003566;
  border-style: ridge;
  border-top: none;
  border-bottom: none;

  width: 20%;
  margin-left: 2%;
  margin-top: 2%;
  max-height: 250px;
  /* overflow-y: scroll; */
  align-items: center;
  display: flex;
  flex-direction: column;
}

.chats {
  /* border: double 3px cyan; */
  /* width: 20%; */

  margin-left: 2%;
  margin-top: 2%;
  max-height: 190px;
  overflow-y: scroll;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/**********************/
