.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #eee !important;
  background-image: url("https://images-ext-2.discordapp.net/external/SajLQK6GpDux4f24pNQEcF_JzkU7xtzHDeseVFWD5A8/https/www.teahub.io/photos/full/185-1853582_wallpaper-lines-obliquely-stripes-glow-purple-cool-purple.jpg?width=1073&height=670");
  background-size: cover;
  background-repeat: no-repeat;
}
.in{
  margin: 10px !important;
  width: 300px !important;
}
.home{
  margin-top: 10%;
  margin-right: 45%;
}
.link{
  text-decoration: none;
  color: black;
  font-weight: bold;
  
}
.form{
  margin-left: 50%;
}
span{
  color:red;
  font-weight: bold;
  font-size: 12pt;
  text-shadow: 2px 2px 15px black ;
}
